@model IEnumerable<Deportivo.Web.Data.Entities.PagoDetalle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.pagdet_monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pagdet_unidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.pagdet_monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pagdet_unidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_pagdet">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_pagdet">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pagdet">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
