@model Deportivo.Web.Data.Entities.Accesorios

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accesorios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_act)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_fecing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_fecing)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_acce" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
