@model Deportivo.Web.Data.Entities.Accesorios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Accesorios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_act)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acce_fecing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acce_fecing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_acce">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
