@model IEnumerable<Deportivo.Web.Data.Entities.EspacioDeportivo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.espdep_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.espdep_fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.espdep_act)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.espdep_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.espdep_fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.espdep_act)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_espdep">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_espdep">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_espdep">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
